<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zgy.web" >


    <application>
        <provider
            android:name="cn.zgy.web.utils.AgentWebFileProvider"
            android:authorities="${applicationId}.AgentWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_paths"/>
        </provider>
        <activity
            android:name="cn.zgy.web.view.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">

        </activity>

    </application>
</manifest>
